<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Add a New Blog Post </h1>

    <form method="POST" action="{{ url_for('add') }}">
        <label for="author">Author:</label><br>
        <input type="text" id="author" name="author" required><br><br>

        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" required><br><br>

        <label for="content">Content:</label><br>
        <textarea id="content" name="content" rows="6" cols="50" required></textarea><br><br>

        <button type="submit">Save Post</button>
    </form>

    <p><a href="{{ url_for('index') }}">⬅ Back to Home</a></p>
</body>
</html>
